.Dblue {
    background-color: #071E33;  
}
.Dteal {
    background-color: #1D7874;
}

.Lteal {
    background-color: #679289;
}

@media(max-width:768px) {
    .PC {
        height: 150px;
        width: 300px;
    }
}

header{
    padding: 15px;
    color: white;
    background-color: black;
    border-bottom: 2px;
    border: white;
}

.Menu:hover {
    font-style: italic;
    font-weight: bold;
}

.cardOne{
    background-color: #1D7874;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.cardTwo {
    background-color: #071E33;
    color: white;
    border-radius: 10px;
    padding: 15px;
}

.cardThree {
    background-color: #1D7874;
    color: white;
    border-radius: 15px;
}

.cardFour {
    background-color: #1D7874;
    color: white;
    border-radius: 15px;
}

.cardFive {
    background-color: #1D7874;
    color: white;
    border-radius: 15px;
}

.Image {
    height: 90px;
    width: 200px;
}

.arrow {
    height: 40px;
    width: 40px;
}

.theKing {
    background-color: rgb(90, 1, 1);
    display: inline;
    color: white;
    border-radius: 15px;
}

.theQueen {
    background-color: rgb(124, 0, 0);
    display: inline;
    color: white;
    border-radius: 15px;
}

.theEmporor {
    background-color: rgb(44, 0, 0);
    display: inline;
    color: white;
    border-radius: 15px;
}

@media (min-width: 768px) {
    .cardThree {
        background-color: #1D7874;
        color: white;
        border-radius: 15px;
        position: absolute;
        bottom: -320px; 
    }
    .cardFour {
        background-color: #125754;
        color: white;
        border-radius: 15px;
        bottom: -210px;
        position: absolute;
    }
    .cardFive {
        background-color: #679289;
        color: white;
        border-radius: 15px;
        bottom: -430px;
        position: absolute;
    }
}   

